In [ ]:
import pandas as pd

In [ ]:
iris_df = pd.read_csv("Iris_data_set.csv")

data_frame = iris_df.copy()
data_frame.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
data_frame.drop(0) #In this code cell, if we only run the following line of code, then the data will be printed from label 1 and the label 0 woukd get dropped, nbut there woukd be no change in the original data. Therefore, when we execute this ;libe of code with the line 2 in this cell, then the data printed is from label 0 and it didn't got dropped. Therefore, to make it permanent, inplace property is used.
data_frame.head()

#to make it in place you can do the following - 

#data_frame.drop(0, inplace=True)
#data_frame.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
new_df = data_frame.drop(0) # works upon labels, if 0 will not be provided, then it will throw an error.
new_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [ ]:
new_df.index #The index property is showing basically the labels here. If the row 0 would have not got dropped in the above cell, then it would have printed from the label 0(the initial one).

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
           dtype='int64', length=149)

In [ ]:
new_df.index[0] #Here, the index 0 is 1 because the 0 has already been removed.

1

In [ ]:
new_df.drop(new_df.index[0], inplace = True)
new_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa

In [ ]:
new_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    148.000000   148.000000    148.000000   148.000000
mean       5.854730     3.051351      3.790541     1.212162
std        0.827695     0.434950      1.754657     0.759332
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
new_df.petal_width > 0.2

2      False
3      False
4      False
5       True
6       True
       ...
145     True
146     True
147     True
148     True
149     True
Name: petal_width, Length: 148, dtype: bool

In [ ]:
new_df[new_df.petal_width > 0.2]

     sepal_length  sepal_width  petal_length  petal_width    species
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
17            5.1          3.5           1.4          0.3     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[116 rows x 5 columns]

In [ ]:
new_df[new_df.petal_width > 0.2].describe()

       sepal_length  sepal_width  petal_length  petal_width
count    116.000000   116.000000    116.000000   116.000000
mean       6.105172     2.963793      4.438793     1.496552
std        0.740369     0.419606      1.402406     0.599410
min        4.500000     2.000000      1.300000     0.300000
25%        5.600000     2.700000      4.000000     1.200000
50%        6.100000     3.000000      4.700000     1.500000
75%        6.600000     3.200000      5.400000     1.925000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
new_df[new_df.species == 'virginica'].describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000

In [ ]:
print(new_df.head())
print(new_df.iloc[0]) #index or position
print(new_df.loc[3]) #labels, if we access for label[0], it will give an error because label 0 is not present in our data.

   sepal_length  sepal_width  petal_length  petal_width species
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
sepal_length       4.7
sepal_width        3.2
petal_length       1.3
petal_width        0.2
species         setosa
Name: 2, dtype: object
sepal_length       4.6
sepal_width        3.1
petal_length       1.5
petal_width        0.2
species         setosa
Name: 3, dtype: object

In [ ]:
new_df.loc[0] = [4.5, 3.1, 1.5, 0.3, "setosa"] #Added a new row here. But the new column is not added in the head, but in the tail(at the very end).
new_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa

In [ ]:
new_df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica
0             4.5          3.1           1.5          0.3     setosa

In [ ]:
new_df.reset_index(drop = True, inplace = True) #drop = True is done here so that one more extra column must not be added.

In [ ]:
new_df.drop(columns = ["index"], inplace = True) #Removed a complpete column. We have done this because, after the modification, a new index column was added and it was showing twice in our data.Because we have added a new row in the previous ccode cell.
print(new_df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             4.7          3.2           1.3          0.2     setosa
1             4.6          3.1           1.5          0.2     setosa
2             5.0          3.6           1.4          0.2     setosa
3             5.4          3.9           1.7          0.4     setosa
4             4.6          3.4           1.4          0.3     setosa
..            ...          ...           ...          ...        ...
144           6.3          2.5           5.0          1.9  virginica
145           6.5          3.0           5.2          2.0  virginica
146           6.2          3.4           5.4          2.3  virginica
147           5.9          3.0           5.1          1.8  virginica
148           4.5          3.1           1.5          0.3     setosa

[149 rows x 5 columns]

In [ ]:
new_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    149.000000   149.000000    149.000000   149.000000
mean       5.845638     3.051678      3.775168     1.206040
std        0.832327     0.433497      1.758758     0.760443
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
del new_df["sepal_width"] #Column can also be removed likewise.
new_df.describe()

       sepal_length  petal_length  petal_width
count    149.000000    149.000000   149.000000
mean       5.845638      3.775168     1.206040
std        0.832327      1.758758     0.760443
min        4.300000      1.000000     0.100000
25%        5.100000      1.600000     0.300000
50%        5.800000      4.400000     1.300000
75%        6.400000      5.100000     1.800000
max        7.900000      6.900000     2.500000

In [ ]:
new_df["color"] = "white" #Added a new column at the end.
new_df.head()

   sepal_length  petal_length  petal_width species  color
0           4.7           1.3          0.2  setosa  white
1           4.6           1.5          0.2  setosa  white
2           5.0           1.4          0.2  setosa  white
3           5.4           1.7          0.4  setosa  white
4           4.6           1.4          0.3  setosa  white